<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
</svg>

<div class="panel-container">
  <form [formGroup]="panelForm">
    <div class="panel-row">
      <button type="button" class="info-btn" data-bs-toggle="modal" data-bs-target="#pagesModal">
        <svg role="img" aria-label="Info:" width="20" height="20"><use xlink:href="#info-fill"/></svg>
      </button>
      <label for="pages" class="panel-label">Nombre de pàgines</label>
      <div class="panel-controls">
        <button type="button" class="panel-btn" (click)="decrementPages()" [disabled]="pagesControl.value === 1 " aria-label="Disminuir páginas"> - </button>
        <input type="number" id="pages" class="panel-input" formControlName="pages" min="1" max="100" aria-label="Número de páginas">
        <button type="button" class="panel-btn" (click)="incrementPages()" [disabled]="pagesControl.value === 100" aria-label="Aumentar páginas"> + </button>
      </div>
    </div>

    <div class="panel-row">
      <button type="button" class="info-btn" data-bs-toggle="modal" data-bs-target="#lenguagesModal">
        <svg role="img" aria-label="Info:" width="20" height="20"><use xlink:href="#info-fill"/></svg>
      </button>
      <label for="languages" class="panel-label">Nombre de llenguatges</label>
      <div class="panel-controls">
        <button type="button" class="panel-btn" (click)="decrementLanguages()" [disabled]="languagesControl.value === 1" aria-label="Disminuir idiomas"> - </button>
        <input type="number" id="languages" class="panel-input" formControlName="languages" min="1" max="50" aria-label="Número de idiomas">
        <button type="button" class="panel-btn" (click)="incrementLanguages()" [disabled]="languagesControl.value === 50" aria-label="Aumentar idiomas"> + </button>
      </div>
    </div>

    @if (pagesControl.invalid && pagesControl.touched) {
      <div class="error-message">
        @if (pagesControl.errors?.['min']) {
          <small>El mínim de pàgines és 1</small>
        }
        @if (pagesControl.errors?.['max']) {
          <small>El màxim de pàgines és 100</small>
        }
      </div>
    }

    @if (languagesControl.invalid && languagesControl.touched) {
      <div class="error-message">
        @if (languagesControl.errors?.['min']) {
          <small>El mínim de llenguatges és 1</small>
        }
        @if (languagesControl.errors?.['max']) {
          <small>El màxim de llenguatges és 50</small>
        }
      </div>
    }

    
  </form>
</div>
