<div class="budget-container">
    <div class="header-section text-center"> 
        <h1 class="title">Aconsegueix la millor qualitat</h1>
    </div>
    
    <div class="budget-form container">
        <form [formGroup]="budgetForm">
            @for (budget of serviceBudget.services(); track budget.title) {
                <app-budget [budget]="budget" [control]="getControl(budget.title)"></app-budget>
            }
        </form>

        <div class="total-section text-end">
            <h3 class="total-text">Preu pressupostat:  <span class="total-amount">{{ calculateTotal.total() }} </span><span class="total-currency">€</span></h3>
        </div>
    </div>
</div>